<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new CHat</title>
</head>
<body>
    <h3>Write new chat</h3>
    <form method = "POST" action = "/chats">
        <input placeholder = "who r u" name = "from">
        <br>
        <textarea name = "msg" >Write your message here..</textarea>
        <br>
        <input placeholder = "add receiver" name = "from" >
        <br>
        <button>Create Cart</button> 
    </form>

</body>
</html>